.header {
    padding-top: 25px;
    justify-content: space-between;
    margin: 20px;

    font-size: $size;
    color: var(--txt-color-2);
    font-weight: bold;

    .logo {
        a img {
            width: 30px;
        }
    }
    .options {
        gap: 20px;

        .font {
            gap: 10px;
            padding: 0 10px;
            border-right: 1px solid var(--accent-color);
            position: relative;
            p {
                opacity: 0.5;
            }

            button,
            p {
                cursor: pointer;
                border: none;
                outline: none;
                background-color: transparent;
                font-size: 1rem;
                color: var(--txt-main);

                /*   img {
                    transform: rotate(180deg);
                } */
            }

            // Menu styles
            .menu {
                position: absolute;
                top: 30px;
                left: -72px;
                width: 150px;
                padding: 10px 25px 10px 10px;
                font-size: 0.85rem;
                box-shadow: 5px 5px 15px var(--shadow);
                background-color: white;
                border-radius: 14px;
                z-index: 1;

                li {
                    border: 2px solid transparent;
                    padding: 5px 15px;
                    cursor: pointer;

                    transition: all 0.8s ease-in-out;

                    &:hover {
                        background-color: #f6faf0;
                    }

                    &:hover:not(:last-child) {
                        border-radius: 8px 8px 0 0;
                        border-bottom: 2px solid var(--accent-color);
                    }

                    &:hover:last-child {
                        border-radius: 0 0 8px 8px;
                        border-top: 2px solid var(--accent-color);
                    }
                }
            }
        }

        .theme {
            gap: 10px;

            .picker-icon {
                img {
                    width: 20px;
                }
            }
        }
    }
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.picker {
    label {
        background-color: var(--accent-color);
        height: 19px;
        width: 40px;
        position: relative;
        cursor: pointer;

        border-radius: 50px;
        display: flex;
        padding: 3px;
        gap: 0.5em;

        .ball {
            position: absolute;
            top: 3px;
            left: 3.2px;
            height: 13px;
            width: 13px;
            border-radius: 50%;
            background-color: white;
            border: 1px solid transparent;
            cursor: pointer;

            transition: all 0.5s ease-in;
            &:hover,
            &:active {
                border: 2px solid var(--accent-color);
                top: -1.5px;
                left: -1px;
                height: 21px;
                width: 21px;
                box-shadow: 0 0 50px #000000;
            }
        }
    }

    // Toggle
    input[type="checkbox"] {
        display: none;
        transition: transform 1.5s linear;

        &:checked + label .ball {
            transform: translateX(20.5px);
            top: -5px;
            left: -1px;
            height: 23px;
            width: 23px;
            position: relative;

            border-radius: 50%;
            background-color: #fdb813;
            box-shadow: 0 0 25px #fdb813;

            &:before {
                ::before {
                    content: "";
                    display: block;
                    position: absolute;
                    border-radius: 50%;
                    background-image: radial-gradient(
                        rgba(253, 184, 19, 0.8) 30%,
                        rgba(255, 255, 255, 0) 70%
                    );
                    animation: sunrays 5s linear infinite;
                }
            }
        }
        &:checked + .picker-icon svg {
            height: 50px;
            width: 50px;

            path {
                fill: black;
            }
        }
    }
}

.picker-icon {
    transition: all 1s linear;
    cursor: pointer;

    svg path {
        // Animation
        &:hover {
            fill: var(--accent-color);
        }
    }
}

.search {
    margin: 40px 20px;
    padding: 10px 25px;
    border-radius: 15px;
    background-color: var(--search);
    transition: all 1s linear;

    .input {
        width: 100%;
    }

    input {
        background-color: transparent;
        width: 100%;
        outline: none;
        border: none;
        font-weight: bold;
        font-size: 1rem;
        font-family: inherit;
        color: var(--txt-main);

        &::placeholder {
            color: var(--txt-color-2);
            opacity: 0.35;
        }
    }
    &:active,
    &:hover {
        outline: 1px solid var(--accent-color);
    }

    button {
        cursor: pointer;
        border: none;
        outline: none;
        margin-left: 10px;
        background-color: transparent;

        img {
            width: 20px;
        }

        // Animation
        transition: scale 200ms ease-in-out;
        &:hover,
        &:active {
            scale: 1.15;
        }
    }
}
