main {
    margin: 20px;
}
.container {
    line-height: 1.25;
    h1 {
        font-size: 4rem;

        span {
            margin-left: 20px;
            font-size: 1rem;
        }
    }

    h3 {
        letter-spacing: 2px;
        font-weight: 100;
        font-style: italic;
        color: var(--accent-color);
    }
}
