main {
    margin: 20px;
}
.container {
    line-height: 1.25;
    h1 {
        font-size: 3rem;
        color: var(--txt-main);
        span {
            margin-left: 20px;
            font-size: 1rem;
        }
    }

    h3 {
        letter-spacing: 2px;
        font-weight: 500;
        font-style: italic;
        color: var(--accent-color);
    }
}

.meaning {
    display: flex;
    align-items: center;
    margin: 20px 0;
    hr {
        flex: 1;
        margin: 0 20px;
        padding: 0.5px;
        border: none;
        outline: none;
        opacity: 0.25;
        background-color: var(--txt-color-2);
    }
}

.top {
    display: flex;
    justify-content: space-between;

    button {
        cursor: pointer;
        border: none;
        outline: none;
        background-color: transparent;
        transition: background-color 0.8ms ease-in-out;

        &:hover {
            svg path {
                fill: white;
            }
            svg {
                background-color: var(--accent-color);
                border-radius: 50%;
            }
        }
    }
}

.bottom {
    h4 {
        color: var(--txt-color-2);
        font-size: 0.95rem;
        font-weight: 100;
    }
    ol {
        li {
            margin-left: 50px !important;
            font-size: 0.85rem;
            margin: 10px;
            font-weight: 100;
            color: var(--txt-color);
            // list-style: circle;

            &::before {
                content: "\2022";
                color: var(--accent-color);
                width: 1rem;
                display: inline-block;
                margin-left: -1em;
            }
        }
    }
}
