$ff-family: serif;
$size: 16px;

.dark {
    --bg-color: rgb(0, 0, 0);
    --txt-main: rgb(255, 255, 255);
    --txt-color: rgb(255, 255, 255);
    --txt-color-2: rgb(117, 117, 117);
    --accent-color: #a445ed;
    --shadow: #141d2f4d;
    --search: #f4e6ff38;
}

.light {
    --bg-color: rgb(255, 255, 255);
    --txt-main: rgb(0, 0, 0);
    --txt-color: rgb(62, 62, 62);
    --txt-color-2: rgb(117, 117, 117);
    --accent-color: rgb(164, 69, 237);
    --shadow: #141d2f20;
    --search: #f4e6ff;
}
