$ff-family: serif, sans-serif, monospace;

.dark {
    --bg-color: rgb(0, 0, 0);
    --txt-color: rgb(255, 255, 255);
    --txt-color-2: rgb(117, 117, 117);
    --accent-color: rgb(164, 69, 237);
}

.light {
    --bg-color: rgb(255, 255, 255);
    --txt-color: rgb(0, 0, 0);
    --txt-color-2: rgb(117, 117, 117);
    --accent-color: rgb(164, 69, 237);
}
